<div class="col-md-12">
    <h4 class="text-danger">Compatibility chart for blood donation</h4>
    <p>The following chart shows which blood types you can donate and receive from:</p>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Can donate to:</th>
                    <th>Can receive a donation from:</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Type <strong>A+</strong></td>
                    <td>AB+ and A+</td>
                    <td>A+, A-, O+ and O-</td>
                </tr>
                <tr>
                    <td>Type <strong>A-</strong></td>
                    <td>A+, A-, AB+ and AB-</td>
                    <td>A- and O-</td>
                </tr>
                <tr>
                    <td>Type <strong>B+</strong></td>
                    <td>B+ and AB+</td>
                    <td>B+, B-, O+ and O-</td>
                </tr>
                <tr>
                    <td>Type <strong>B-</strong></td>
                    <td>B+, B-, AB+ and AB-</td>
                    <td>B- and O-</td>
                </tr>
                <tr>
                    <td>Type <strong>AB+</strong></td>
                    <td>AB+</td>
                    <td>
                        <p>A+, B+, O+, AB+, A-, B-, O- and AB- (all types)</p>
                    </td>
                </tr>
                <tr>
                    <td>Type <strong>AB-</strong></td>
                    <td>AB+ and AB-</td>
                    <td>A-, B-, O- and AB-</td>
                </tr>
                <tr>
                    <td>Type <strong>O+</strong></td>
                    <td>A+, B+, O+ and AB+</td>
                    <td>O+ and O-</td>
                </tr>
                <tr>
                    <td>Type <strong>O-</strong></td>
                    <td>A+, B+, O+, AB+, A-, B-, O- and AB- (all types)</td>
                    <td>O-</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>