{% extends 'layouts/index.html' %}
{% block content %}
<div class="row">
    <div class="col-md-4">
        <form action="{% url 'bank-collect-blood' pk blood donor_id %}" method="post">
            {% csrf_token %}
            <div class="form-group mb-2">
                <label for="amount">Amount</label>
                <input type="number" step="0.01" name="amount" id="amount" class="form-control"
                    placeholder="Enter amount in ML" required>
            </div>
            <div class="form-group mb-2">
                <button type="submit" class="btn btn-danger"><i class="ri-save-line"></i> Submit</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}