{% extends 'layouts/index.html' %}
{% block content %}
<div class="row">
    <div class="col-md-4">
        <form action="{% url 'bank-blood-usage' pk blood %}" method="post">
            {% csrf_token %}
            <div class="form-group mb-2">
                <label for="amount">Amount</label>
                <input type="number" step="0.01" name="amount" id="amount" class="form-control"
                    placeholder="Enter amount in ML" required>
            </div>
            <div class="form-group mb-2">
                <button type="submit" class="btn btn-danger"><i class="ri-save-line"></i> Submit</button>
            </div>
        </form>
    </div>

    <div class="col-md-8">
        <table class="table">
            <thead>
                <tr>
                    <th>Amount</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for r in usage_data %}
                <tr>
                    <td>{{ r.amount }} ML</td>
                    <td>{{ r.date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}